In [10]:
import pandas as pd

In [11]:
train_ds = pd.read_csv("D:\\Competitions\\DataStorm-2022\\data\\train_data.csv")
val_ds = pd.read_csv("D:\\Competitions\\DataStorm-2022\\data\\validation_dataV1.csv")
test_ds = pd.read_csv("D:\\Competitions\\DataStorm-2022\\data\\test_dataV1.csv")

In [12]:
train_ds.head()

  CategoryCode  ItemCode      DateID  DailySales
0   category_2    117610   11/6/2021           7
1   category_4    836584  11/18/2021          16
2   category_1    370195   1/24/2022           6
3   category_2    172582  10/30/2021           5
4   category_2   1006009  10/30/2021           5

In [13]:
val_ds.head()

  CategoryCode  ItemCode       Week  WeeklySales
0   category_2   1044502  20/2/2022           11
1   category_2   1105009  20/2/2022           11
2   category_2    913561  13/3/2022            5
3   category_1   1048975  13/3/2022           30
4   category_1     17287  27/2/2022           60

In [14]:
test_ds.head()

  CategoryCode  ItemCode       Week  PredictedSales
0   category_1     43738  13/3/2022             NaN
1   category_2   1006090  20/2/2022             NaN
2   category_2   1076929  13/3/2022             NaN
3   category_1   1081321   6/3/2022             NaN
4   category_2    216151  13/3/2022             NaN

In [15]:
train_ds["DateID"] = pd.to_datetime(train_ds["DateID"], infer_datetime_format=True)
val_ds["DateID"] = pd.to_datetime(val_ds["Week"], infer_datetime_format=True)
test_ds["DateID"] = pd.to_datetime(test_ds["Week"], infer_datetime_format=True)

In [16]:
train_ds["DOW"] = train_ds["DateID"].dt.dayofweek
val_ds["DOW"] = val_ds["DateID"].dt.dayofweek
test_ds["DOW"] = test_ds["DateID"].dt.dayofweek

In [20]:
train_ds["WOY"] = train_ds["DateID"].dt.isocalendar().week
val_ds["WOY"] = val_ds["DateID"].dt.isocalendar().week
test_ds["WOY"] = test_ds["DateID"].dt.isocalendar().week

In [25]:
train_ds["DOY"] = train_ds["DateID"].dt.day_of_year
val_ds["DOY"] = val_ds["DateID"].dt.day_of_year
test_ds["DOY"] = test_ds["DateID"].dt.day_of_year

In [26]:
train_ds.head()

  CategoryCode  ItemCode     DateID  DailySales  DOW  WOY  DOY
0   category_2    117610 2021-11-06           7    5   44  310
1   category_4    836584 2021-11-18          16    3   46  322
2   category_1    370195 2022-01-24           6    0    4   24
3   category_2    172582 2021-10-30           5    5   43  303
4   category_2   1006009 2021-10-30           5    5   43  303

In [27]:
val_ds.head()

  CategoryCode  ItemCode       Week  WeeklySales     DateID  DOW  WOY  DOY
0   category_2   1044502  20/2/2022           11 2022-02-20    6    7   51
1   category_2   1105009  20/2/2022           11 2022-02-20    6    7   51
2   category_2    913561  13/3/2022            5 2022-03-13    6   10   72
3   category_1   1048975  13/3/2022           30 2022-03-13    6   10   72
4   category_1     17287  27/2/2022           60 2022-02-27    6    8   58

In [28]:
test_ds.head()

  CategoryCode  ItemCode       Week  PredictedSales     DateID  DOW  WOY  DOY
0   category_1     43738  13/3/2022             NaN 2022-03-13    6   10   72
1   category_2   1006090  20/2/2022             NaN 2022-02-20    6    7   51
2   category_2   1076929  13/3/2022             NaN 2022-03-13    6   10   72
3   category_1   1081321   6/3/2022             NaN 2022-03-06    6    9   65
4   category_2    216151  13/3/2022             NaN 2022-03-13    6   10   72

In [29]:
train_ds.to_csv("D:\\Competitions\\DataStorm-2022\\data\\train_V2.csv",index=False)
val_ds.to_csv("D:\\Competitions\\DataStorm-2022\\data\\val_V2.csv",index=False)
test_ds.to_csv("D:\\Competitions\\DataStorm-2022\\data\\test_V2.csv",index=False)