In [43]:
import pandas as pd
from tqdm import tqdm

In [44]:
promo_combined = pd.read_csv("D:\\Competitions\\DataStorm-2022\\semi-final\\data\\merged_promo_item_df.csv")
promo_data = pd.read_csv("D:\\Competitions\\DataStorm-2022\\semi-final\\data\\promotion_data.csv")
train_data = pd.read_csv("D:\\Competitions\\DataStorm-2022\\semi-final\\data\\train_data.csv")
test_data = pd.read_csv("D:\\Competitions\\DataStorm-2022\\semi-final\\data\\test_data.csv")
val_data = pd.read_csv("D:\\Competitions\\DataStorm-2022\\semi-final\\data\\validation_data.csv")

In [45]:
promo_combined["PromoStarted"] = pd.to_datetime(promo_combined["PromoStarted"])
promo_combined["PromoEnded"] = pd.to_datetime(promo_combined["PromoEnded"])
promo_combined["DateID"] = pd.to_datetime(promo_combined["DateID"])

In [46]:
promo_combined

,CategoryCode,ItemCode,DateID,DailySales,PromoStarted,PromoEnded,DiscountValue,DiscountType,SellingPrice
0,category_1,379249,2021-12-04,9,2021-12-03,2021-12-09,10,Percentage,70
1,category_1,379249,2021-12-07,11,2021-12-03,2021-12-09,10,Percentage,70
2,category_1,379249,2021-12-05,9,2021-12-03,2021-12-09,10,Percentage,70
3,category_1,379249,2021-12-08,9,2021-12-03,2021-12-09,10,Percentage,70
4,category_1,379249,2021-12-06,6,2021-12-03,2021-12-09,10,Percentage,70
...,...,...,...,...,...,...,...,...,...
8907,category_2,23569,2021-11-20,6,2021-11-19,2021-11-25,10,Percentage,80
8908,category_2,23569,2021-11-13,3,2021-11-12,2021-11-18,10,Percentage,80
8909,category_2,23569,2021-11-15,6,2021-11-12,2021-11-18,10,Percentage,80
8910,category_2,23569,2021-11-14,7,2021-11-12,2021-11-18,10,Percentage,80
8911,category_2,23569,2021-11-17,8,2021-11-12,2021-11-18,10,Percentage,80

In [47]:
promo_combined["WOY"] = promo_combined["DateID"].dt.isocalendar().week
promo_combined["DOW"] = promo_combined["DateID"].dt.dayofweek
promo_combined["DOY"] = promo_combined["DateID"].dt.day_of_year

In [48]:
promo_combined

,CategoryCode,ItemCode,DateID,DailySales,PromoStarted,PromoEnded,DiscountValue,DiscountType,SellingPrice,WOY,DOW,DOY
0,category_1,379249,2021-12-04,9,2021-12-03,2021-12-09,10,Percentage,70,48,5,338
1,category_1,379249,2021-12-07,11,2021-12-03,2021-12-09,10,Percentage,70,49,1,341
2,category_1,379249,2021-12-05,9,2021-12-03,2021-12-09,10,Percentage,70,48,6,339
3,category_1,379249,2021-12-08,9,2021-12-03,2021-12-09,10,Percentage,70,49,2,342
4,category_1,379249,2021-12-06,6,2021-12-03,2021-12-09,10,Percentage,70,49,0,340
...,...,...,...,...,...,...,...,...,...,...,...,...
8907,category_2,23569,2021-11-20,6,2021-11-19,2021-11-25,10,Percentage,80,46,5,324
8908,category_2,23569,2021-11-13,3,2021-11-12,2021-11-18,10,Percentage,80,45,5,317
8909,category_2,23569,2021-11-15,6,2021-11-12,2021-11-18,10,Percentage,80,46,0,319
8910,category_2,23569,2021-11-14,7,2021-11-12,2021-11-18,10,Percentage,80,45,6,318
8911,category_2,23569,2021-11-17,8,2021-11-12,2021-11-18,10,Percentage,80,46,2,321

In [49]:
promo_combined.columns

Index(['CategoryCode', 'ItemCode', 'DateID', 'DailySales', 'PromoStarted',
       'PromoEnded', 'DiscountValue', 'DiscountType', 'SellingPrice', 'WOY',
       'DOW', 'DOY'],
      dtype='object')

In [50]:
promo_combined.to_csv("promo_feature_added.csv",index=False)