In [3]:
import pandas as pd

In [13]:
merged_promo_df = pd.read_csv("D:\\Competitions\\DataStorm-2022\\semi-final\\data\\merged_promo_item_df.csv")
test_pd = pd.read_csv("D:\\Competitions\\DataStorm-2022\\semi-final\\data\\test_data.csv")

In [11]:
merged_promo_df.isnull().sum()

CategoryCode     0
ItemCode         0
DateID           0
DailySales       0
PromoStarted     0
PromoEnded       0
DiscountValue    0
DiscountType     0
SellingPrice     0
dtype: int64

In [12]:
merged_promo_df

,CategoryCode,ItemCode,DateID,DailySales,PromoStarted,PromoEnded,DiscountValue,DiscountType,SellingPrice
0,category_1,379249,2021-12-04,9,2021-12-03,2021-12-09,10,Percentage,70
1,category_1,379249,2021-12-07,11,2021-12-03,2021-12-09,10,Percentage,70
2,category_1,379249,2021-12-05,9,2021-12-03,2021-12-09,10,Percentage,70
3,category_1,379249,2021-12-08,9,2021-12-03,2021-12-09,10,Percentage,70
4,category_1,379249,2021-12-06,6,2021-12-03,2021-12-09,10,Percentage,70
...,...,...,...,...,...,...,...,...,...
8907,category_2,23569,2021-11-20,6,2021-11-19,2021-11-25,10,Percentage,80
8908,category_2,23569,2021-11-13,3,2021-11-12,2021-11-18,10,Percentage,80
8909,category_2,23569,2021-11-15,6,2021-11-12,2021-11-18,10,Percentage,80
8910,category_2,23569,2021-11-14,7,2021-11-12,2021-11-18,10,Percentage,80
8911,category_2,23569,2021-11-17,8,2021-11-12,2021-11-18,10,Percentage,80

In [15]:
test_pd

0    353
1     24
Name: OnPromo, dtype: int64